.mat-drawer-container {
    height: 100vh;
}

.menu_icon {
    cursor: pointer;
}

.sidenav {
    width: 300px;
}

.logo_container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
}

mat-toolbar {
    min-height: 56px;
    height: 56px;
}

.menu__items {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        display: flex;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        cursor: pointer;

        mat-icon {
            margin-right: 16px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }

        &:focus {
            outline: none;
        }
    }
}

.router_container {
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
}