<mat-card>
    <table class="user_tabel">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Zip Code</th>
        </tr>

        <tr>
            <td>as</td>
            <td>asd</td>
            <td>asda</td>
        </tr>

        <tr>
            <td>as</td>
            <td>asd</td>
            <td>asda</td>
        </tr>

    </table>
</mat-card>


<button (click)="openDIalog()" class="add_user_button" mat-fab color="primary" matTooltip="Add user">
    <mat-icon>add</mat-icon>
</button>