<mat-card>
    <table class="user_tabel">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Zip Code</th>
        </tr>

        <tr *ngFor="let user of allUsers" [routerLink]="['/users/'+ user.id]">
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.city }}</td>
        </tr>

    </table>
</mat-card>


<button (click)="openDIalog()" class="add_user_button" mat-fab color="primary" matTooltip="Add user">
    <mat-icon>add</mat-icon>
</button>